<!DOCTYPE html>
<html>
  <head>
    <title>꿈담이</title>
    <script> 
        //isEmpty: 변수 값 존재 여부 확인
        var isEmpty = function(value){ 
            if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ) return true;
            else return false;
        };
        
        //메뉴
        window.fn = {};
        window.fn.open = function() {
          var menu = document.getElementById('menu');
          menu.open();
        };
        
        window.fn.load = function(page) {
          var content = document.getElementById('content');
          var menu = document.getElementById('menu');
          content.load(page)
            .then(menu.close.bind(menu));
        };
        function show_page_apply() {
            document.querySelector('#Navigator').pushPage('page_apply.html', {data: {toolbar_title: 'Hello World'}});
        }
        document.addEventListener('init', function(event) {
            var page = event.target;
            if (page.id === 'menu_topic') {
                page.querySelector('#push-button').onclick = function() {
                    document.querySelector('#Navigator').pushPage('page_apply.html', {data: {title: 'Page 2'}});
                };
            } else if (page.id === 'page2') {
                page.querySelector('ons-toolbar .center').innerHTML = page.data.title;
            } else if (page.id === 'page_apply') {
                console.log(page.data.toolbar_title);
                document.getElementById('toolbar_apply').innerHTML = page.data.toolbar_title;
                
            }
        });
        
    </script>
      
    <!--CDN-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean" rel="stylesheet">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <style>
        .page {
            font-family: "Noto Sans KR", sans-serif;
        }
        .title {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
        }
    </style>
  </head>
  <body> 
      
    <!--Sidemenu-->
    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
            <ons-page>
                <ons-list>
                    <ons-list-item onclick="fn.load('navigate_container_home.html')" tappable>신청자 정보</ons-list-item>
                    <ons-list-item onclick="fn.load('navigate_container_topic.html')" tappable>주제선택프로그램</ons-list-item>
                    <ons-list-item onClick="show_page_apply()" tappable>SHOW</ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="navigate_container_home.html"></ons-splitter-content>
    </ons-splitter>
      
    <!--Sidemenu - Naviagtor Container Bridge-->
    <template id="navigate_container_home.html">
        <ons-page id="navigate_container_home">
            <ons-navigator animation="lift" id="navigator_home" page="menu_home.html"></ons-navigator>         
        </ons-page>
    </template>
	  
    <template id="navigate_container_topic.html">
        <ons-page id="navigate_container_topic">
            <ons-navigator animation="lift" id="navigator_topic" page="menu_topic.html"></ons-navigator>         
        </ons-page>
    </template>
      
    <!--Home-->
    <template id="menu_home.html">
        <ons-page id="menu_home">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">구름중학교 꿈담이</div>
            </ons-toolbar>
            <ons-card>
                <div class="title">환영합니다.</div>
                <div class="content">
                <ons-list>
                    <ons-list-header>신청자명</ons-list-header>
                    <ons-list-item>테스트</ons-list-item>
                    <ons-list-header>학번</ons-list-header>
                    <ons-list-item>1501</ons-list-item>
                </ons-list>
                </div>
            </ons-card>
        </ons-page>
    </template>
      
    <template id="menu_topic.html">
        <ons-page id="menu_topic">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">구름중학교 꿈담이</div>
            </ons-toolbar>
            <ons-card>
                <div class="title">
                  1기. 수강신청이 필요합니다.
                </div>
                <div class="content">
                  <ons-list>
                    <ons-list-header>지도교사</ons-list-header>
                    <ons-list-item></ons-list-item>
                    <ons-list-header>교육장소</ons-list-header>
                    <ons-list-item></ons-list-item>
                  </ons-list>
                </div>
                <ons-button modifier="large">프로그램 선택</ons-button>
            </ons-card>
        </ons-page>
    </template>
    <!--Applicaiton Page-->
    <template id="page_apply.html">
        <ons-page id="page_apply">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div id="toolbar_apply" class="center">이부분을 자동으로 생성되게 해볼게요.</div>
            </ons-toolbar>
            <ons-list>
                <ons-list-header>과학/탐구</ons-list-header>
                <ons-list-item tappable>
                    <div class=\"center\">
                        <span class=\"list-item__title\">구름에듀 비타알고</span><span class=\"list-item__subtitle\">구름</span>
                    </div>
                    <div class=\"right\" >신청가능 (3/4)</div>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </template>
            
  </body>
</html>