<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>꿈담이 관리자</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.ajax.css">
  <link rel="stylesheet" href="../dist/css/skins/skin-blue.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- daterange picker -->
  <link rel="stylesheet" href="../bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="../plugins/iCheck/all.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="../bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="../plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">
  <style>

    /** SPINNER CREATION **/

    .loader {
      position: relative;
      text-align: center;
      margin: 15px auto 35px auto;
      z-index: 9999;
      display: block;
      width: 80px;
      height: 80px;
      border: 10px solid rgba(0, 0, 0, .3);
      border-radius: 50%;
      border-top-color: #000;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    label{
      display: inline;
    }
    .max{
      display: inline;
      width: 12%;
    }
    
    /** MODAL STYLING **/

    .modal-content {
      border-radius: 0px;
      box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
    }

    .modal-backdrop.show {
      opacity: 0.75;
    }

    .loader-txt {
      p {
        font-size: 13px;
        color: #666;
        small {
          font-size: 11.5px;
          color: #999;
        }
      }
    }

    #output {
      padding: 25px 15px;
      background: #222;
      border: 1px solid #222;
      max-width: 350px;
      margin: 35px auto;
      font-family: 'Roboto', sans-serif !important;
      p.subtle {
        color: #555;
        font-style: italic;
        font-family: 'Roboto', sans-serif !important;
      }
      h4 {
        font-weight: 300 !important;
        font-size: 1.1em;
        font-family: 'Roboto', sans-serif !important;
      }
      p {
        font-family: 'Roboto', sans-serif !important;
        font-size: 0.9em;
        b {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
  </style>
  <script>
    var programs=[], data_period=[], limits=[], group=[];
    //isEmpty: 변수 값 존재 여부 확인
    var isEmpty = function(value){ 
      if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ) return true;
      else return false;
    };
    function pageNavigate(page) {
      $.ajax({
        url: page,
        type : "POST",
        dataType : "html",
        cache : false
      }).done(function(results) {
        $('.content-wrapper').children().remove();
        $('.content-wrapper').html(results);
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true
        })
      });
    }
    
    window.onload = function () {
      $.ajax({
        url: "/get_programinfo",
        data : {
          project: 'ggumdami',
          isAdmin: 1
        },
        type: "POST"
      }).done(function(results) {
        for(var i=0; i<results.length; i++) {
          programs[results[i].id] = results[i];
        }
      });
      
      pageNavigate('/admin/home');
    }
    
    function editProgramNavigate(page) {
      $.ajax({
        url: '/admin/edit_programs',
        type : "GET",
        dataType : "html",
        data : {
          project: 'ggumdami',
          course: 1
        },
        cache : false
        
      }).done(function(results) {
        $('.content-wrapper').children().remove();
        $('.content-wrapper').html(results);
      });
    }
    
    function editCourseNavigate() {
      $.ajax({
        url: "/get_groups",
        data : {
          project: 'ggumdami',
        },
        type: "POST"
      }).done(function(results) {
          group = results;
      });
      
      $.ajax({
        url: "/get_limits",
        data : {
          project: 'ggumdami'
        },
        type: "POST",
        data : {
          project: 'ggumdami'
        }
      }).done(function(results) {
        console.log(results);
        if(!isEmpty(results[0])) limits[results[0].which] = [];
        for(var i=0; i<results.length; i++) {
          if(i> 0) if(results[i-1].which != results[i].which) limits[results[i].which] = [];
          limits[results[i].which][results[i].group] = results[i];
        }
        console.log(limits);
      });
      $.ajax({
        url: '/admin/edit_course',
        type : "GET",
        dataType : "html",
        data : {
          project: 'ggumdami',
          course: 1
        },
        cache : false
      }).done(function(results) {
        $('.content-wrapper').children().remove();
        $('.content-wrapper').html(results);
        $.ajax({
          url: '/get_programs_incourse',
          type : "POST",
          dataType : "json",
          data : {
            project: 'ggumdami',
            course: 1
          },
          cache : false

        }).done(function(results) {
          var code='';
          console.log(results);
          for(var i=0; i<results.length; i++) {
            document.querySelector('.batch' + results[i].batch + ' .programlist .program' + results[i].program).setAttribute( 'selected', 'selected');
            /*
            for(var j=0; j<limits[results[i].id].length; j++) {
              code += "<label>" + limits[results[i].id][j].group + "</label><input type='text' class='form-control max" + limits[results[i].id][j].group + "'" + results[i].program + "' data-program='" + results[i].program + "' placeholder='최대 수강 가능 인원' value='" + results[i].max +" '>";
              console.log(code);
            }
            */

            for(j=0; j<group.length; j++) {
              code += "<label>" + group[j].name + "</label>  <input type='text'  class='form-control max group" + j + "' data-groupid='" + group[j].id + "' placeholder='인원수' value=" + limits[results[i].id][group[j].id].max + ">   ";
            }
            console.log(code);
            $('#table' + results[i].batch).append("<tr><td>" + programs[results[i].program].name + "</td><td class='which" + results[i].program + "'>" + code + "</td></tr>");
            code = '';
            
          }
          $('.select2').select2()
        });
      });
    }
    
    function editCourseApply(batch) {
      var programList=[], maxList=[], period;
      
      $("#loadMe").modal({
        backdrop: "static", //remove ability to close modal with click
        keyboard: false, //remove option to close with keyboard
        show: true //Display loader!
      });
      setTimeout(function() {
        editCourseNavigate(); 
        $("#loadMe").modal("hide");
      },2000);
      period = $('.batch' + batch + ' .period').val();
      programList = $('.batch' + batch + ' .programlist').val();
      for(i=0; i<programList.length; i++) {
         maxList[programList[i]] = [];
        for(j=0; j<group.length; j++) {
          try{
            console.log('.batch' + batch + ' .which' + programList[i] + ' .group' + j);
            maxList[programList[i]][j] = $('.batch' + batch + ' .which' + programList[i] + ' .group' + j).val();
          } catch (e) {

            console.log(e);
          }
        }
        
      }
      console.table(maxList);
      console.log(maxList);
      $.ajax({
        url: '/editcourseapply',
        type : "POST",
        data : {
          project: 'ggumdami',
          course: 1,
          batch: batch,
          period: period, 
          programs: JSON.stringify(programList),
          maxes: JSON.stringify(maxList),
          group: JSON.stringify(group)
        }
      });
      
      

      
    }
    
    //Date range as a button
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

  </script>
  <style>
    td {
      vertical-align: top;
    }
  </style>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
content-wrapper
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>꿈담이</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>꿈담이 </b>관리자</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bookmark"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="header"><b>북마크</b></li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <!-- Message title and timestamp -->
                      <h4>
                        주제선택프로그램
                        <small><i class="fa fa-clock-o"></i> 바로가기</small>
                      </h4>
                      <!-- The message -->
                      <p>자유학기제</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header"><b>알림</b> 10</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">모두 지우기</a></li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">순천향림중학교</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  순천향림중학교
                  <small><b>교사</b> 강창완</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">요금</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">설정</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">지원</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">로그아웃</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>강창완</p>
          <!-- Status -->
          교사
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">신청관리</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-home"></i> <span>홈</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-info"></i> <span>신청관리</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-plus"></i> 새 프로젝트</a></li>
            
            <%for(var i=0; i<project.length; i++) {%>
            <li class="treeview">
              <a href="#"><i class="fa fa-th"></i> <%=project[i].name%>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i> 새 수강과정</a></li>
                <%for(var j=0; j<session_info[i].length; j++) {%>
                
                <li class="treeview">
                  <a href="#"><i class="fa fa-th-large"></i> <%=session_info[i][j].name%>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-align-justify"></i> 세션</a></li>
                    <li><a href="#"><i class="fa fa-bullseye"></i> 프로그램</a></li>
                  </ul>
                  <%}%>
                </li>
              </ul>
              
            </li>

            <%}%>
        
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-copy"></i> <span>신청현황</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview">
              <a href="#"><i class="fa fa-th"></i> 자유학기제 수강신청
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-th-large"></i> 주제선택프로그램</a></li>
              </ul>
              
            </li>
            
          </ul>
        </li>
        <li class="header">학교관리</li>
        <li><a href="#"><i class="fa fa-users"></i> <span>학생 관리</span></a></li>
        <li><a href="#"><i class="fa fa-graduation-cap"></i> <span>교사 관리</span></a></li>
        <li><a href="#"><i class="fa fa-building"></i> <span>학교 설정</span></a></li>
        <li class="header">서비스 설정</li>
        <li><a href="#"><i class="fa fa-credit-card"></i> <span>서비스 요금 관리</span></a></li>
        <li><a href="#"><i class="fa fa-phone"></i> <span>고객 지원</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#">꿈행성</a>.</strong> 모든 권리 보유.
  </footer>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <div clas="loader-txt">
          <p>서버와 통신중... <br><br><small>이 화면이 5초이상 지속되면 사이트를 리프레시해주세요.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Confirmar</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-btn-si">예/button>
        <button type="button" class="btn btn-primary" id="modal-btn-no">아니오tton>
      </div>
    </div>
  </div>
</div>
<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- DataTables -->
<script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Select2 -->
<script src="../bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="../plugins/input-mask/jquery.inputmask.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="../bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="../plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="../plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>