
    <section class="content-header">
      <h1>
        새 수강과정
        <small>새로운 수강과정(주제선택프로그램, 예술체육프로그램 등)를 생성합니다.</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> 새 수강과정</a></li>
 

      </ol>
      
    </section>

    <!-- Main content -->
    <section class="content">

      
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">기본 정보</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <form role="form">
            <!-- text input -->
            <div class="form-group">
              <label>수강과정명</label>
              <input type="text" class="form-control" id="createCourseName" placeholder="예술체육프로그램">
              <br>
              <label>수강과정 아이디</label>
              <input type="text" class="form-control" id="createCourseClass" placeholder="artsport">
            </div>
            <div class="form-group">
                <label>기수 개수</label>
                <select class="form-control"  id="createCourseBatches">
                  <%for(i=0; i<8; i++) {%>
                  <option value="<%=i+1%>"><%=i+1%>개 기수</option>
                  <%}%>
                </select>
              </div>
          </form>
        </div>
        <div class="box-footer">
            <button type="submit" onClick="createCourse('<%=info%>')" class="btn btn-primary">생성</button>
          </div>
        <!-- /.box-body -->
      </div>
      
      <!-- /.box -->
    </section>


